<p>Statistics</p>
<p>Last update: {{ getTodayDate() || '00.00.0000 00:00' }} </p>

<body style="margin-top: 100px">
<div class="main-container">
  <div class="year-stats">
    <div *ngFor="let i of [0,1,2,3,4,5,6,7]" class="month-group">
      <div [ngStyle]="{'height': getPercentByPeriod(i + 1, weekStatistics) + '%'}"
           class="bar"
           style="width: 15px;">{{ getAmountByPeriod(i + 1, weekStatistics) || '' }}
      </div>
      <p class="month">{{ week[i] }}</p>
    </div>
  </div>
  <div class="info">
    <p>The number of situations that occur this month: <span>{{ weekStatistics?.amountOfSituations || 0 }}</span></p>
    <p>The situation that happens most often:
      <span>{{ getSituation(weekStatistics?.mostFrequentSituation) || "-" }}</span></p>
    <p>The day with the most situations: <span>{{ getWeekPeriod(weekStatistics?.mostFrequentPeriod) || "-" }}</span>
    </p>
  </div>
</div>
</body>


<body style="margin-top: 100px">
<div class="main-container">
  <div class="year-stats">
    <div *ngFor="let i of getAmountOfDaysInMonth()" class="month-group">
      <div [ngStyle]="{'height': getPercentByPeriod(i, monthStatistics) + '%'}"
           class="bar"
           style="width: 15px;">{{ getAmountByPeriod(i, monthStatistics) || '' }}
      </div>
      <p class="month">{{ i }}</p>
    </div>
  </div>
  <div class="info">
    <p>The number of situations that occur this month: <span>{{ monthStatistics?.amountOfSituations || 0 }}</span></p>
    <p>The situation that happens most often:
      <span>{{ getSituation(monthStatistics?.mostFrequentSituation) || "-" }}</span></p>
    <p>The day with the most situations: <span>{{ getMonthPeriod(monthStatistics?.mostFrequentPeriod) || "-" }}</span>
    </p>
  </div>
</div>
</body>


<body style="margin-top: 100px">
<div class="main-container">
  <div class="year-stats">
    <div *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12]" class="month-group">
      <div [ngStyle]="{'height': getPercentByPeriod(i + 1, yearStatistics) + '%'}"
           class="bar"
           style="width: 30px;">{{ getAmountByPeriod(i + 1, yearStatistics) || '' }}
      </div>
      <p class="month">{{ year[i] }}</p>
    </div>
  </div>
  <div class="info">
    <p>The number of situations that occur this month: <span>{{ yearStatistics?.amountOfSituations || 0 }}</span></p>
    <p>The situation that happens most often:
      <span>{{ getSituation(yearStatistics?.mostFrequentSituation) || "-" }}</span></p>
    <p>The day with the most situations: <span>{{ getYearPeriod(yearStatistics?.mostFrequentPeriod) || "-" }}</span>
    </p>
  </div>
</div>
</body>
