@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main-container {
  color: #807f7f;
  border-radius: 5px;
  padding: 20px;
  height: 350px;
}

.year-stats {
  white-space: nowrap;
  max-height: 170px;
  overflow: hidden;
}

.year-stats:hover {
  overflow-x: auto;
}

.month-group {
  cursor: pointer;
  max-width: 400px;
  height: 110px;
  margin: 10px;
  display: inline-block;
}

.bar {
  background-color: #c0fdf9;
  width: 25px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.month-group:hover .bar,
.selected .bar {
  background: #41c2bd;
}

.month-group:hover p,
.selected p {
  color: #000000;
}

.info p {
  margin-bottom: 10px;
}

.info span {
  color: #41c2bd;
}

.table {
  width: 100%;
  border: 1px solid #ffffff;
  border-top: 0.22ch solid #e0e0e0;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
  padding: 5px;
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #ffffff;
}

.table tr {
  padding: 25px;
  border: none;
  background-color: #ecfffd;
  border-radius: 25px;
  border-bottom: 20px solid #ffffff;
}
