.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-top: 0.22ch solid #e0e0e0;
  border-collapse: collapse;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.red {
  margin-left: 15px;
  color: #b40000;
}

.popup {
  width: 33.333333%;
  padding: 15px;
  left: 0;
  margin-left: 33.333333%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 15%;
  box-shadow: 5px 5px 5px #000;
  z-index: 10001;
}

.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .85);
  z-index: 10000;
}

