<br><br>
<div class="container" style="width: 850px">
  <p>Last update: {{ UtilService.getTodayDate() || '00.00.0000 00:00' }} </p>
  <div>
    <h1 style="margin-top: 40px; margin-bottom: 30px; text-align: center;">Managers</h1>
  </div>
  <table border="1" class="table table-condensed table-responsive-md">
    <thead>
    <tr>
      <th style="width:10%">
      </th>
      <th style="width:40%">
        <a>Fullname</a>
      </th>
      <th style="width:30%">
        <a>Email</a>
      </th>
      <th style="width:20%">
        <a>Actions</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let manager of managers">
    <tr>
      <td><img alt="img" class="rounded-circle" height="60"
               ngSrc="{{manager.avatar || 'https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png'}}"
               style="object-fit: cover" width="60"/></td>
      <td>{{ (manager.firstName || "") + " " + (manager.lastName || "") }}</td>
      <td>{{ manager.email || "" }}</td>
      <td><a (click)="showPopup(manager.id)" class="delete" title="Delete" type="button">
        <i class="material-icons red">&#xe872;</i></a>&emsp;
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="overlay" id="popup" style="display: none">
  <div class="popup">
    <p>Do you really want to delete manager account?</p>
    <div class="text-right">
      <button (click)="hidePopup()" class="btn btn-cancel">Cancel</button>
      <button (click)="deleteManager()" class="btn btn-primary"
              style="background: #cb1a2b; border-color: #cb1a2b">Ok
      </button>
    </div>
  </div>
</div>
