.file-input {
  display: none;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-top: 0.22ch solid #e0e0e0;
  border-collapse: collapse;
}

.table td {
  text-align: center;
}

.table th {
  text-align: center;
}

.red {
  margin-left: 15px;
  color: #b40000;
}

.green {
  margin-left: 15px;
  color: #009a1e;
}

.my-btn {
  appearance: none;
  margin-left: 10px;
  font-size: 13px;
  border: .2em solid darkslategray;
  padding: .80em 1.5em;
  color: #ffffff;
  border-radius: 2em;
  transition: 1s;
  background: darkslategray;

  &:hover, &:focus, &:active {
    background: #93afaf;
    border: .2em solid #93afaf;
    color: #fff;
  }
}

input[type=email] {
  appearance: none;
  border: none;
  outline: none;
  font-size: 13px;
  border-bottom: .2em solid darkslategray;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: darkslategray;
  margin-top: 20px;
  width: 230px;
}
