<br><br>
<div class="container" style="width: 850px">
  <div class="row">
    <div class="col-3">
      <div>
        <img alt="avatar" class="rounded-circle" height="150" id="thumbnail"
             ngSrc="{{adminResponse?.avatar || 'https://i.imgur.com/b08hxPY.png'}}"
             style="object-fit: cover"
             width="150"/>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col">
          <p
            style="font-size: 22px; margin-top: 20px">{{ adminResponse?.firstName + ' ' + adminResponse?.lastName || 'Name Surname' }}</p>
        </div>
      </div>
      <p style="color: #99a2a2; font-size: 13px">{{ adminResponse?.email || 'Email' }}</p>
    </div>
  </div>
  <div class="float-right">
    <input #email placeholder="Enter email" type="email">
    <button (click)="addAdmin(email.value)" class="my-btn">Add new admin</button>
  </div>
  <br>
  <p style="margin-top: 90px; color: #1cbebe; font-style: italic">Not approved admins</p>
  <table border="1" class="table table-condensed table-responsive-md" style="width: 100%">
    <thead>
    <tr>
      <th style="width:30%">
        <a>Admin email</a>
      </th>
      <th style="width:25%">
        <a>Date of adding</a>
      </th>
      <th style="width:30%">
        <a>Added by</a>
      </th>
      <th *ngIf="LoginService.isChiefAdmin()" style="width:15%">
        <a>Actions</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let notAppAdmin of notApprovedAdmins ">
    <tr>
      <td>{{ notAppAdmin.email || ' ' }}</td>
      <td>{{ UtilService.formatDateTime(notAppAdmin.dateOfAdding) || ' ' }}</td>
      <td>{{ notAppAdmin.addedBy || ' ' }}</td>
      <td *ngIf="LoginService.isChiefAdmin()">
        <a (click)="approveAdmin(notAppAdmin.id)" class="approve" title="Approve" type="button">
          <i class="material-icons green">&#xe86c;</i></a>&emsp;
        <a (click)="declineAdmin(notAppAdmin.id)" class="decline" title="Decline" type="button">
          <i class="material-icons red">&#xe5c9;</i></a>&emsp;
      </td>
    </tr>
    </tbody>
  </table>
  <p style="margin-top: 80px; color: #1cbebe; font-style: italic">Approved admins</p>
  <table border="1" class="table table-condensed table-responsive-md" style="width: 100%">
    <thead>
    <tr>
      <th style="width:15%">
      </th>
      <th style="width:30%">
        <a>Admin fullname</a>
      </th>
      <th style="width:30%">
        <a>Admin email</a>
      </th>
      <th style="width:25%">
        <a>Date of approving</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let appAdmin of approvedAdmins">
    <tr>
      <td><img alt="img" class="rounded-circle" height="60"
               ngSrc="{{appAdmin?.avatar || 'https://www.freeiconspng.com/thumbs/profile-icon-png/profile-icon-9.png'}}"
               style="object-fit: cover" width="60"/>
      </td>
      <td>{{ (appAdmin.firstName || "") + " " + (appAdmin.lastName || "") }}</td>
      <td>{{ appAdmin.email || ' ' }}</td>
      <td>{{ UtilService.formatDateTime(appAdmin.dateOfApproving) || ' ' }}</td>
    </tr>
    </tbody>
  </table>
</div>
