<p>Last update: {{ AppComponent.formatDateTime(healthInfo?.time) || '00.00.0000 00:00' }} </p>
<br><br>
<div style="text-align: center;">
  <div class="row">
    <div class="col-12">
      <div [ngStyle]="{'--p': healthInfo?.generalStatus}" class="pie animate"
           id="generalLevel"
           style="--c:lightgreen">{{ healthInfo?.generalStatus + '%' }}
      </div>
      <p style="font-size: 13px">General health level</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.stressLevel || 0) * 10)}" class="pie animate"
           style="--c:lightgreen">{{ ((healthInfo?.stressLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Stress level</p>
    </div>
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.concentrationLevel || 0) * 10)}" class="pie animate col"
           style="--c:lightgreen">{{ ((healthInfo?.concentrationLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Concentration level</p>
    </div>
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.sleepinessLevel || 0) * 10)}" class="pie animate col"
           style="--c:lightgreen">{{ ((healthInfo?.sleepinessLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Sleepiness level</p>
    </div>
  </div>
  <br><br><br>
  <p>Statistics</p>
</div>


<body style="margin-top: 100px">
<div class="main-container">
  <div class="year-stats">
    <div *ngFor="let i of [0,1,2,3,4,5,6]" class="month-group">
      <div [ngStyle]="{'height': getPercentByPeriod(i + 1, weekStatistics) + '%'}"
           class="bar"
           style="width: 15px;">{{ getAmountByPeriod(i + 1, weekStatistics) }}
      </div>
      <p class="month">{{ UtilService.week[i] }}</p>
    </div>
  </div>
  <div class="info">
    <p>Average level of health for this period: <span>{{ (weekStatistics?.generalLevelForPeriod || 0) + '%' }}</span>
    </p>
    <p>The best day for this period:
      <span>{{ UtilService.getWeekPeriod(weekStatistics?.bestPeriod) || "-" }}</span>
    </p>
    <p>The worst day for this period:
      <span>{{ UtilService.getWeekPeriod(weekStatistics?.worstPeriod) || "-" }}</span></p>
  </div>
</div>
</body>
