<p>Last update: {{ AppComponent.formatDateTime(healthInfo?.time) || '00.00.0000 00:00' }} </p>
<br><br>
<div style="text-align: center;">
  <div class="row">
    <div class="col-12">
      <div [ngStyle]="{'--p': healthInfo?.generalStatus}" class="pie animate"
           id="generalLevel"
           style="--c:lightgreen">{{ healthInfo?.generalStatus + '%' }}
      </div>
      <p style="font-size: 13px">General health level</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.stressLevel || 0) * 10)}" class="pie animate"
           style="--c:lightgreen">{{ ((healthInfo?.stressLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Stress level</p>
    </div>
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.concentrationLevel || 0) * 10)}" class="pie animate col"
           style="--c:lightgreen">{{ ((healthInfo?.concentrationLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Concentration level</p>
    </div>
    <div class="col">
      <div [ngStyle]="{'--p': ((healthInfo?.sleepinessLevel || 0) * 10)}" class="pie animate col"
           style="--c:lightgreen">{{ ((healthInfo?.sleepinessLevel || 0) * 10) + '%' }}
      </div>
      <p style="font-size: 13px">Sleepiness level</p>
    </div>
  </div>
  <br><br><br>
  <p>Statistics</p>
</div>
