<br><br>
<div class="container" style="margin: auto; text-align: center">
  <div>
    <h1 style="text-align: center;">Login</h1>
  </div>
  <br>
  <br>
  <br>
  <div>
    <div>
      <input #email id="email" placeholder="Email" type="email">
    </div>
    <div>
      <input #password id="password" placeholder="Password" type="password">
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <input (click)="login(email.value, password.value)" type="button" value="Login">
  </div>
</div>
