<br><br>
<div class="container" style="margin: auto; text-align: center">
  <div>
    <h1 style="text-align: center;">Login</h1>
  </div>
  <br>
  <br>
  <br>
  <div>
    <div>
      <input #email id="email" placeholder="Email" type="email">
    </div>
    <div>
      <input #password id="password" placeholder="Password" type="password">
    </div>
  </div>
  <br>
  <div style="text-align: center;">
    <input (click)="googleLogin(email.value, password.value)" type="button" value="Login">
  </div>

  <div class="google-btn">
    <a class="url-design" href="http://localhost:8080/oauth2/authorization/google">
      <img alt="google logo" class="w-6 h-6" height="40" loading="lazy"
           src="https://www.svgrepo.com/show/475656/google-color.svg"
           width="40">
      <span style="margin-left: 10px">Continue with Google</span>
    </a>
  </div>
</div>
