<header>
  <div class="my-navbar">
    <a class="link" href="/">Home</a>
    <div *ngIf="!LoginService.isAuthorize()">
      <a class="link" href="/login">Login</a>
    </div>
    <div *ngIf="!LoginService.isAuthorize()">
      <a class="link" href="/register">Register</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/driver-profile">Profile</a>
    </div>
    <div *ngIf="LoginService.isManager()">
      <a class="link" href="/manager-profile">Profile</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/health-info">Health</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/situations">Situations</a>
    </div>
    <div (click)="LoginService.logout()" *ngIf="LoginService.isAuthorize()">
      <a class="link" href="/">Logout</a>
    </div>
  </div>
</header>
<br><br>
<!--<h1 class="caption">{{ title }}</h1>-->
<div class="my-container">
  <router-outlet></router-outlet>
</div>
