<header>
  <div class="my-navbar">
    <a class="link" href="/">Home</a>
    <div *ngIf="!LoginService.isAuthorize()">
      <a class="link" href="/login">Login</a>
    </div>
    <div *ngIf="!LoginService.isAuthorize()">
      <a class="link" href="/register">Register</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/driver-profile">Profile</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/driver-accesses">Accesses</a>
    </div>
    <div *ngIf="LoginService.isManager()">
      <a class="link" href="/manager-profile">Profile</a>
    </div>
    <div *ngIf="LoginService.isManager()">
      <a class="link" href="/manager-accesses">Accesses</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/health-info">Health</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/situations">Situations</a>
    </div>
    <div *ngIf="LoginService.isManager()">
      <a class="link" href="/chats">Chats</a>
    </div>
    <div *ngIf="LoginService.isDriver()">
      <a class="link" href="/chats">Chats</a>
    </div>
    <div (click)="logout()" *ngIf="LoginService.isAuthorize()">
      <a class="link" href="/login">Logout</a>
    </div>
  </div>
</header>
<div class="my-container">
  <router-outlet></router-outlet>
</div>
<div class="alert" id="alert" style="display: none">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
</div>
