<br><br>
<div class="container" style="width: 950px;">
  <div class="row">
    <div class="col-8">
      <p>Last update: {{ UtilService.getTodayDate() || '00.00.0000 00:00' }} </p>
    </div>
    <div class="col-4">
      <button (click)="openFormAccess()" class="my-btn">Request access</button>
    </div>
  </div>
  <p style="color: #15abab; font-style: italic; font-size: 13px; margin-bottom: 20px; margin-top: 80px">Sent
    accesses</p>
  <table border="1" class="table table-condensed table-responsive-md" style="width: 600px">
    <thead>
    <tr>
      <th style="width:40%">
        <a>Driver email</a>
      </th>
      <th style="width:30%">
        <a>Access duration</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let access of sentAccesses">
    <tr>
      <td>{{ access.driverEmail }}</td>
      <td>{{ access.accessDuration.toLowerCase() }}</td>
    </tr>
    </tbody>
  </table>
  <br><br>
  <p style="color: #15abab; font-style: italic; font-size: 13px; margin-bottom: 20px">Current active accesses</p>
  <table border="1" class="table table-condensed table-responsive-md">
    <thead>
    <tr>
      <th style="width:25%">
        <a>Driver email</a>
      </th>
      <th style="width:15%">
        <a>Access duration</a>
      </th>
      <th style="width:25%">
        <a>Start date</a>
      </th>
      <th style="width:25%">
        <a>End date</a>
      </th>
      <th style="width:10%">
        <a>Extend</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let access of activeAccesses">
    <tr>
      <td>{{ access.driverEmail }}</td>
      <td>{{ access.accessDuration.toLowerCase() }}</td>
      <td>{{ UtilService.formatDateTime(access.startDateOfAccess) }}</td>
      <td>{{ UtilService.formatDateTime(access.endDateOfAccess) }}</td>
      <td *ngIf="access.isExpiring" class="actions" data-th="" style="text-align: center; margin: auto">
        <select id="duration" name="blockUnits">
          <option selected="selected" value="">Choose duration</option>
          <option value="DAY">1 day</option>
          <option value="WEEK">1 week</option>
          <option value="TWO_WEEKS">2 weeks</option>
          <option value="MONTH">1 month</option>
          <option value="SIX_MONTH">6 month</option>
          <option value="YEAR">1 year</option>
        </select>
        <a (click)="extendAccess(access.id)" class="extendAccess" title="Extend access" type="button">
          <i class="material-icons green">&#xe86c;</i></a>&emsp;
      </td>
    </tr>
    </tbody>
  </table>
  <br><br>
  <p style="color: #15abab; font-style: italic; font-size: 13px; margin-bottom: 20px">Current inactive accesses</p>
  <table border="1" class="table table-condensed table-responsive-md">
    <thead>
    <tr>
      <th style="width:30%">
        <a>Driver email</a>
      </th>
      <th style="width:20%">
        <a>Access duration</a>
      </th>
      <th style="width:25%">
        <a>Start date</a>
      </th>
      <th style="width:25%">
        <a>End date</a>
      </th>
    </tr>
    </thead>
    <tbody *ngFor="let access of inactiveAccesses">
    <tr>
      <td>{{ access.driverEmail }}</td>
      <td>{{ access.accessDuration.toLowerCase() }}</td>
      <td>{{ UtilService.formatDateTime(access.startDateOfAccess) }}</td>
      <td>{{ UtilService.formatDateTime(access.endDateOfAccess) }}</td>
    </tr>
    </tbody>
  </table>

  <div class="form-popup" id="myForm">
    <div class="container">
      <button (click)="closeForm()" class="btn-close" style="cursor: pointer; top: 16%; right: 35%; position: fixed"
              type="button">
        <span class="cross-stand-alone"></span>
      </button>
      <h5 style="text-align: center; font-weight: bold; margin-top: 15px; color: darkslategray">New access</h5>
      <br><br>
      <div style="text-align: center">
        <div class="row">
          <label> Driver email:
            <input #driverEmail style="width: 200px; height: 30px" type="email">
          </label>
        </div>
        <br>
        <div class="row">
          <label>Access duration:
            <select #duration style="width: 200px; height: 30px" type="text">
              <option value="DAY">1 day</option>
              <option value="WEEK">1 week</option>
              <option value="TWO_WEEKS">2 weeks</option>
              <option value="MONTH">1 month</option>
              <option value="SIX_MONTHS">6 months</option>
              <option value="YEAR">1 year</option>
            </select>
          </label>
        </div>
      </div>
      <br><br>
      <div style="text-align: center">
        <button (click)="requestAccess(driverEmail.value, duration.value)" class="my-btn"
                style="width: fit-content;">
          Send request for access
        </button>
      </div>
    </div>
  </div>


</div>
