input[type=text] {
  appearance: none;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: .2em solid darkslategray;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: darkslategray;
  margin-top: 20px;
}

input[type=password] {
  appearance: none;
  font-size: 17px;
  border: none;
  outline: none;
  border-bottom: .2em solid darkslategray;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: darkslategray;
  margin-top: 20px;
}

input[type=url] {
  appearance: none;
  border: none;
  outline: none;
  font-size: 17px;
  border-bottom: .2em solid darkslategray;
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: darkslategray;
  margin-top: 20px;
}

input[type=button] {
  appearance: none;
  margin-top: 15px;
  font-size: 17px;
  border: .2em solid darkslategray;
  padding: .85em 1.5em;
  color: #ffffff;
  border-radius: 2em;
  transition: 1s;
  background: darkslategray;

  &:hover, &:focus, &:active {
    background: #93afaf;
    border: .2em solid #93afaf;
    color: #fff;
  }
}
