<div>
  <h2>Register as</h2>
</div>
<div>
  <button type="button">Driver</button>
  <button type="button">Manager</button>
</div>
<div>
  <h3>Creating driver account</h3>
  <h3>Creating manager account</h3>
  <div>
    <label for="firstName">First name: </label>
    <input #firstName id="firstName" type="text">
  </div>
  <div>
    <label for="lastName">Last name: </label>
    <input #lastName id="lastName" type="text">
  </div>
  <div>
    <label for="email">Email: </label>
    <input #email id="email" type="email">
  </div>
  <div>
    <label for="password">Password: </label>
    <input #password id="password" type="password">
  </div>
  <div>
    <label for="avatar">Avatar: </label>
    <input #avatar id="avatar" type="text">
  </div>
</div>
